{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="../assets/components.css">
    <link rel="stylesheet" href="../assets/icons.css">
    <link rel="stylesheet" href="../assets/responsee.css">
    <link rel="stylesheet" href="../assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../assets/owl-carousel/owl.theme.css">

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../assets/template-style.css">
    <script type="text/javascript" src="../assets/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery-ui.min.js"></script>
    <h1>{{ title }}</h1>

    <header class="section background-dark">
        <div class="line">
            <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">GARDIENNAGE CBS MAROC</h1>
            <p class="margin-bottom-0 text-size-16">Tous nos services sont assurés par un personnel qualifié, formé selon les normes et les règles du métier au niveau national. Nos agents de garde peuvent mener des interventions en toute circonstance et à toute heure du jour et de la nuit</p>
        </div>
    </header>
    <section class="section background-white">
        <div class="line">
            <h2 class="text-size-40 margin-bottom-30">Investigationes demonstraverunt lectores</h2>
            <hr class="break-small background-primary margin-bottom-30">
            <p class="margin-bottom-40">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros
                et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
        </div>
        <div class="line text-center">
            <div class="margin">
                <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x background-primary">
                        <i class="icon-sli-shield icon3x text-white margin-bottom-30"></i>
                        <h2 class="text-thin">Unlimited Color Variants</h2>
                        <p class="margin-bottom-30">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                        <a class="button button-white-stroke text-size-12" href="/">GET MORE INFO</a>
                    </div>
                </div>
                <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x background-primary">
                        <i class="icon-sli-umbrella icon3x text-white margin-bottom-30"></i>
                        <h2 class="text-thin">Parallax Background</h2>
                        <p class="margin-bottom-30">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                        <a class="button button-white-stroke text-size-12" href="/">GET MORE INFO</a>
                    </div>
                </div>
                <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x background-primary">
                        <i class="icon-sli-home icon3x text-white margin-bottom-30"></i>
                        <h2 class="text-thin">Clean Modern Code</h2>
                        <p class="margin-bottom-30">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
                        <a class="button button-white-stroke text-size-12" href="/">GET MORE INFO</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="card mt-5 mb-4 col-sm-12">
        <div class="card-body ">
            <i class="fas fa-users fa-5x"></i>
            <h2 class="card-title font-weight-bold">Bienvenue dans le Cercle</h2>
            <p>Connectez vous et exprimez vous!</p>
        </div>
    </div>

    <script type="text/javascript" src="../assets/js/responsee.js"></script>
    <script type="text/javascript" src="../assets/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="../assets/js/template-scripts.js"></script>
{% endblock %}